<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPEARANCE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>previewEnabled</string>
			<key>label</key>
			<string>SHOW_PREVIEW</string>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BEHAVIOUR</string>
			<key>footerText</key>
			<string>LOCK_LAYOUTS_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>key</key>
			<string>closeOnLaunch</string>
			<key>label</key>
			<string>CLOSE_ON_LAUNCH</string>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>key</key>
			<string>lockLayouts</string>
			<key>label</key>
			<string>LOCK_LAYOUTS</string>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>key</key>
			<string>summedBadges</string>
			<key>label</key>
			<string>CUMULATIVE_BADGES</string>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>label</key>
            <string>ACTIVATION_MODE</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>titlesDataSource</key>
            <string>activationModeTitles</string>
            <key>valuesDataSource</key>
            <string>activationModeValues</string>
            <key>key</key>
            <string>activationMode</string>
            <key>staticTextMessage</key>
            <string></string>
            <key>default</key>
            <integer>0</integer>
            <key>defaults</key>
            <string>com.a3tweaks.Apex</string>
            <key>PostNotification</key>
            <string>com.a3tweaks.apex2.prefschanged</string>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>TheCreators.png</string>
			<key>label</key>
			<string>THE_CREATORS</string>
			<key>detail</key>
			<string>STKProfileController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>LOCALIZATION_ABOUT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>A3tweaksSupport.png</string>
			<key>label</key>
			<string>SUPPORT_EMAIL_LINK</string>
			<key>action</key>
			<string>showMailDialog</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2014 Aditya KD and Newar Choukeir</string>
		</dict>
	</array>
	<key>title</key>
	<string>Apex</string>
</dict>
</plist>
