<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VISUAL_INDICATOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>SUBAPP_PREVIEWS</string>
			<key>label</key>
			<string>SUBAPP_PREVIEWS</string>
			<key>key</key>
			<string>previewEnabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>action</key>
			<string>setVisualIndicator:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>GRABBERS</string>
			<key>label</key>
			<string>GRABBERS</string>
			<key>key</key>
			<string>showGrabbers</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>action</key>
			<string>setVisualIndicator:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>NONE</string>
			<key>label</key>
			<string>NONE</string>
			<key>key</key>
			<string>noVisualIndicator</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>action</key>
			<string>setVisualIndicator:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUBAPP_ACCESS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>SWIPE_UP</string>
			<key>label</key>
			<string>SWIPE_UP</string>
			<key>key</key>
			<string>swipeUpEnabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>action</key>
			<string>updateSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>SWIPE_DOWN_ACCESS</string>
			<key>label</key>
			<string>SWIPE_DOWN</string>
			<key>key</key>
			<string>swipeDownEnabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>action</key>
			<string>updateSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>DOUBLE_TAP</string>
			<key>label</key>
			<string>DOUBLE_TAP</string>
			<key>key</key>
			<string>doubleTapEnabled</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>action</key>
			<string>updateSpecifier:</string>
		</dict>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPOTLIGHT_ACCESS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>TAP_SB</string>
			<key>label</key>
			<string>TAP_SB</string>
			<key>key</key>
			<string>tapToSpotlight</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>action</key>
			<string>updateSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSListItemCell</string>
			<key>id</key>
			<string>SWIPE_DOWN_SPOTLIGHT</string>
			<key>label</key>
			<string>SWIPE_DOWN</string>
			<key>key</key>
			<string>swipeToSpotlight</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>action</key>
			<string>updateSpecifier:</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>key</key>
			<string>closeOnLaunch</string>
			<key>label</key>
			<string>CLOSE_ON_LAUNCH</string>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>key</key>
			<string>summedBadges</string>
			<key>label</key>
			<string>AGGREGATE_BADGES</string>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>key</key>
			<string>allowNew</string>
			<key>label</key>
			<string>ALLOW_NEW</string>
			<key>defaults</key>
			<string>com.a3tweaks.Apex</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.apex2.prefschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>CONFIGURATION</string>
</dict>
</plist>
