Package: com.a3tweaks.apex2
Name: Apex 2
Depends: mobilesubstrate, com.chpwn.iconsupport, firmware (>= 7.0), preferenceloader
Conflicts: com.jcorbett.bigify, org.thebigboss.bigifyplus, com.aehmlo.powerdownenhancer (<< 2.0)
Version: 1.0.6
Architecture: iphoneos-arm
Description: Grouping apps has never been so fun.
Maintainer: A3Tweaks
Author: A3Tweaks
Section: Tweaks
