Package: com.a3tweaks.acervos
Name: Acervos
Depends: mobilesubstrate
Version: 0.1.3
Architecture: iphoneos-arm
Description: Folders, what folders?
Maintainer: A3Tweaks
Author: A3Tweaks
Section: Tweaks
