Package: com.a3tweaks.acervos
Name: Acervos
Depends: mobilesubstrate, com.chpwn.iconsupport, firmware (>= 6.0)
Version: 0.2
Architecture: iphoneos-arm
Description: Folders, what folders?
Maintainer: A3Tweaks
Author: A3Tweaks
Section: Tweaks
